.Clasification h3 {
  display: flex;
  align-items: center;
 border-bottom: 2px solid var(--dile-secondary-color);
 text-transform: uppercase;
 padding-bottom: 0.45rem;
 font-size: 1.5rem;
 color: var(--dile-on-background-color);
 --dile-icon-color: var(--dile-secondary-color);
 gap: 0.5rem;
 opacity: 1;
}


.components-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  --dile-card-title-font-size: 1.25rem;
  margin-bottom: 2rem;
}

.components-grid dile-card {
  font-size: 0.9rem;
}

.component-card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: stretch;
}
.component-card-element {
  margin: -0.5rem 0 0.35rem;
}
.component-card-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.component-card-footer code {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  --dile-icon-size: 20px;
  --dile-icon-color: var(--dile-on-primary-color);
  background-color: var(--dile-primary-color);
  color: var(--dile-on-primary-color);
  border-radius: 0.5rem;
  padding: 0.15rem 0.7rem;
}
.component-summary {
  margin-bottom: 0;
}

@media(min-width: 500px) {
  .components-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: stretch;
  }
}

.components-categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.category-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--dile-primary-color);
  color: #303030;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.2s ease;
  --dile-icon-size: 20px;
  --dile-icon-color: var(--dile-secondary-color);
}

.category-link:hover {
  background-color: var(--dile-secondary-color);
  color: white;
  --dile-icon-color: white;
}

html.dark-theme .category-link {
  background-color: #444;
  color: #fff;
}

html.dark-theme .category-link:hover {
  background-color: var(--dile-secondary-color);
}