.MarkdownLink {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: 2px 2px 2px 0;
  flex-direction: column;
  --dile-button-padding-y: 0.25rem;
  --dile-button-padding-x: 0.5rem;
  --dile-button-font-size: 0.875rem;
  --dile-button-border-width: 2px;
  --dile-floating-feedback-padding: 0.15rem 0.5rem;
  --dile-floating-feedback-border-radius: 8rem;
}

.MarkdownLink dile-button span {
  display: flex;
  align-items: center;
  --dile-icon-size: 16px;
  gap: 0.35rem;
}

.MarkdownLink-actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 100%;
  gap: 0.5rem;
}
.MarkdownLink-tags {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.MarkdownLink-tag {
  display: flex;
  text-transform: capitalize;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #e3f9ce;
}

@media(min-width: 500px) {
  .MarkdownLink {
    flex-direction: row;
    align-items: center;
  }
  .MarkdownLink-tags {
    margin-bottom: 0;
  }
}