span.site-name a {
  display: flex; 
  align-items: center;
  font-size: 0.9rem;
}

dile-nav a {
  text-decoration: none;
}
dile-nav img {
  position: relative;
  top: 3px;
  height: 40px;
  margin-right: 0.5rem;
}

.app-menu {
  padding: 1rem 1rem 1rem 0.6rem;
  font-size: 0.875rem;
  min-width: 250px;
  --dile-selector-padding-x: 0;
}

.app-menu .general_link {
  font-size: 1rem;
}
.general_link a, .linkcolection a {
  color: inherit;
  text-decoration: none;
}

html.dark-theme .general_link a, html.dark-theme .linkcolection a  {
  color: var(--dile-on-primary-color);
}

.app-menu .general_link.first {
}

.app-menu .collection-nav {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.linkcolection {
  --dile-selector-padding-x: 0.6rem;
}
.app-menu .nav-box {
  background-color: rgba(20, 220, 50, 0.3);
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem 0.3rem;
  margin-bottom: 0.6rem;
}

html.dark-theme .app-menu .nav-box {
  background-color: var(--dile-primary-dark-color);
}


.app-menu .nav-box.transparent {
  background-color: transparent;

}
.app-menu .link {
  display: flex;
  align-items: center;
  --dile-icon-size: 22px;
  --dile-icon-color: var(--dile-secondary-color);
}

.app-menu .link dile-icon-name {
  transform: rotate(-90deg);
  margin-right: 0.25rem;
}
.app-menu p {
  margin: 0 0 0.15rem;
}
dile-social-icon {
  margin: 0 0.25rem;
}

.actionsnav a, .actionsnav {
  display: flex;
  align-items: center;
} 

.actionsnav a {
  margin: 0 0.25rem;
}

.fixednav {
  --dile-selector-selected-background-color: var(--dile-primary-color);
  --dile-selector-selected-text-color: #303030;
  --dile-selector-selected-icon-color: var(--dile-secondary-color);
}

.fixednav dile-slide-menu {
  margin-left: 1.3rem;
  --dile-primary-color: #303030;
}
.linkcolection {
  font-size: 0.875rem;
  --dile-selector-icon-size: 16px;
  --dile-selector-icon-color: var(--dile-secondary-color);
  margin-left: 0.25rem;
}

html.dark-theme .linkcolection {
  --dile-selector-icon-color: #fff;
}

html.dark-theme nav {
  --dile-slide-menu-color: #fff;
  --dile-slide-menu-icon-color: var(--dile-secondary-color);
  
}