h1.homeh1 {
  text-align: center;
  line-height: 1.8rem;
  margin: 0.25rem 0 1.8rem;
}

.subtitle {
  color: #666;
  font-size: 1.1rem;
  font-style: italic;
  margin: 1.5rem;
}
.subtitle img {
  max-width: 100%;
}
.subtitle p {
  margin: 1rem 0 1.5rem;
  text-align: center;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}
@media(min-width: 450px) {
  .subtitle .image {
    margin: 0 2rem;
  }
  .subtitle p {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media(min-width: 650px) {
  .subtitle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 3rem;
  }
  h1.homeh1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
  .subtitle .image {
    flex-grow: 1;
    margin: 0;
  }
  .subtitle p {
    max-width: 250px;
    font-size: 1.3rem;
  }
}
@media(min-width: 750px) {
  h1.homeh1 {
    font-size: 2.5rem;
  }
  .subtitle {
    margin: 3rem;
  }
  .subtitle p {
    font-size: 1.4rem;

  }
  .options {
    flex-direction: row;
  }
}

@media(min-width: 850px) {
  h1.homeh1 {
    font-size: 3rem;
  }
  .subtitle {
    margin: 3rem 4rem 4.5rem;
    column-gap: 6rem;
  }
}

@media(min-width: 950px) {
  .subtitle {
    column-gap: 8rem;
  }
}

@media(min-width: 1200px) {
  .subtitle {
    column-gap: 4rem;
  }
}

/* FEATURED */
.Featured {
  margin: 0 -1rem -1rem; 
  background-color: #f5f5f5;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 2.5rem;
  color: #303030;
  padding: 2.5rem 1rem;
  --dile-icon-color: var(--dile-secondary-color);
  --dile-icon-size: 4rem;
  font-size: 1.2rem;

}  

.Featured a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 1rem;
}

.Featured p {
    margin-bottom: 0.3rem;
}

.Featured h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 0;
}
.Featured-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.moreinfo {
  margin-top: 2.5rem;
}
@media(min-width: 450px) {
  .Featured {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .Featured img {
    width: 100px;
  } 
}

@media(min-width: 550px) {
  .Featured {
    grid-template-columns: 1fr 1fr;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .Featured img {
    width: 100px;
  } 
}

@media(min-width: 780px) {
  .Featured {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .Featured img {
    width: 100px;
  } 
}
@media(min-width: 800px) {
    .Featured {
      margin: -1.5rem;
    }
}
@media(min-width: 830px) {
    .Featured {
      column-gap: 3.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
    } 
}

@media(min-width: 1000px) {
    .Featured {
      margin: -1.5rem -2rem;
    }
}

@media(min-width: 1200px) {
    .Featured {
      margin: 0 0 2.5rem;
    }
    .moreinfo {
      margin-top: 1.5rem;
    }
}


.Featured-item {
    text-align: center;
}

.sections {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}
@media(min-width: 400px) {
  .sections {
    flex-direction: row;
  } 
}