html {
  --dile-primary-color: #f3f3ae;
  --dile-secondary-color: #7BB93D;
  --dile-app-drawer-background-color: red;

  --dile-primary-light-color: #fefede;
  --dile-nav-column-gap: 0.25rem;
  
  --dile-hamburger-padding-x: 0.15rem;
  
  --dile-social-icon-color: #303030;
  --dile-social-icon-size: 1.2rem;
}

