html {
  --dile-nav-column-gap: 0.25rem;
  --dile-hamburger-padding-x: 0.15rem;
  --dile-social-icon-color: var(--dile-on-primary-color);
  --dile-social-icon-size: 1.2rem;
  --dile-hamburger-active-color: #000;
  --dile-form-separator-color: var(--dile-secondary-color);
  --dile-form-separator-text-color: var(--dile-secondary-color);
}

html.dark-theme {
  --dile-input-background-color:rgb(235, 255, 250);
  --dile-checkbox-label-disabled-color: #aaa;
  --dile-input-message-error-color: #faa;
  --dile-input-error-border-color: #faa;
  --dile-input-error-background-color: #fee;
}
a {
  color: #39f;
}
.logo-light {
  display: none;
}

html.dark-theme .logo-light {
  display: block;
}

html.dark-theme .logo-dark {
  display: none;
}

html.dark-theme {
  --dile-hamburger-active-color: #888;
}

html.dark-theme blockquote {
  border-left: 7px solid var(--dile-secondary-color);
  background-color: #555;
}

html.dark-theme tr:nth-child(even) {
  background: var(--dile-primary-dark-color);
}

html.dark-theme footer {
  background-color: var(--dile-secondary-dark-color);
}