body {
  --primary-color: #7BB93D;
  --secondary-color: #f3f3ae;

  --dile-app-drawer-box-shadow: 1px 0 12px rgba(0, 0, 0, 0.3);

  --primary-lines-color: var(--secondary-color);

  --dile-social-icon-color: #303030;
  --dile-social-icon-size: 1.5rem;

  --dile-hamburger-color: #303030;
}
.sitenav {
  --dile-nav-padding-y: 0;
  --dile-nav-padding-x: 0;
  --dile-nav-background-color: var(--secondary-color);
  --dile-hamburger-padding-x: 0.7rem;
  --dile-nav-column-gap: 0.25rem;
}
dile-social-icon {
  margin-left: 0.6rem;
}
code {
  font-family: 'Cutive Mono', monospace;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
h2 {
  margin-bottom: 1rem;
}
h3 {
  margin-bottom: 0.6rem;
}
p {
  margin-bottom: 1rem;
}
dile-selector-item {
  display: block;
}
dile-nav {
  color: #303030;
}
dile-nav b {
  font-weight: normal;
  font-size: 1.2rem;
}
dile-nav b span {
  font-weight: bold;
}
dile-nav div {
  display: flex;
  align-items: center;
}
dile-nav img {
  position: relative;
  top: 2px;
  height: 36px;
  margin-right: 0.5rem;
}
.desktop {
  display: none;
}
.menuslot {
  display: flex;
  align-items: center;
  background-color: var(--primary-dark-color);
  padding-bottom: 2px;
}
.actionsnav {
  margin-right: 0.5rem;
}
.actionsnav a, .actionsnav {
  display: flex;
  align-items: center;
} 
.app-menu {
  margin-top: 3.5rem;
  min-width: 250px;
  font-size: 1.2rem;
  padding-bottom: 2.5rem;
}
main, .footer {
  padding: 1rem;
}
.drawercomponent {
  font-size: 0.875rem;
  --dile-selector-icon-size: 20px;
  --dile-selector-icon-color: var(--primary-color);
  margin-left: 1.3rem;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}
th {
  border-bottom: 1px solid #ddd;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 0.5rem;
}
td {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
}
tr:nth-child(even) {
  background: #f5f5f5;
}

blockquote {
  border-left: 7px solid var(--primary-color);
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: #f5f5f5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

mdjs-preview div {
  padding: 10px;
}

mdjs-preview dile-textarea div {
  padding: 0;
}

mdjs-preview pre {
  border-bottom: 10px solid #fff;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 2rem;
  font-size: 1.1rem;
}
.footer b, .footer a {
  color: #fff;
}
.footer ul {
  margin: 0.5rem 0 1rem;
  padding: 0 0.5rem;
}
.footer li {
  margin: 0 0 0.25rem;
  padding: 0;
  list-style-type: none;
}
@media(min-width: 500px) {
  .footer {
    flex-direction: row;
    row-gap: 2rem;
  }
  .footer section {
    min-width: 200px;
  }
  .footer ul {
    padding: 0;
  }
}
@media(min-width: 350px) {
  body {
    --dile-nav-padding-y: 0.2rem;
    --dile-social-icon-size: 1.8rem;
    --dile-hamburger-padding-x: 1rem;
  }
  dile-nav img {
    height: 40px;
  }
}
@media(min-width: 420px) {
  dile-nav img {
    height: 48px;
  }
  dile-nav b {
    font-size: 1.5rem;
  }
}

@media(min-width: 460px) {
  body {
    --dile-social-icon-size: 2rem;
  }
  dile-social-icon {
    margin-left: 1rem;
  }
}
@media(min-width: 650px) {
  body {
    --dile-hamburger-line-size: 4px;
    --dile-hamburger-line-separation: -9px;
    --dile-hamburger-width: 32px;
  }
  .sitenav {
    --dile-nav-padding-x: 0.8rem;
    --dile-nav-padding-y: 0.3rem;
  }
  .actionsnav {
    margin-right: 0.5rem;
  }
}
@media(min-width: 800px) {
  body {
    --dile-hamburger-line-size: 5px;
    --dile-hamburger-line-separation: -10px;
    --dile-hamburger-width: 32px;
    --dile-button-font-size: 1.2rem;
  }
  .sitenav {
    --dile-nav-padding-x: 1rem;
  }
  main, .footer {
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .mobile {
    outline: 3px solid red;
    display: none;
  }
  .desktop {
      display: block;
  }
  dile-nav img {
    height: 54px;
  }
  dile-nav b {
    font-size: 1.8rem;
    margin-left: 0.5rem;
  }
}
@media(min-width: 1000px) {
  body {
    --dile-nav-padding-x: 1.2rem;
  }
  main, .footer {
    padding: 1.5rem 2rem;
  }
}